
.fullPage {
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    .fullPage .main__1, .main__2, .main__3, .main__4 {
        scroll-snap-align: start;
        width: 100%;
        height: 100%;
    }

    .main__1 {
        background-color: blue;
    }
    .main__2 {
        background-color: orange;
    }
    .main__3 {
        background-color: lightgreen;
    }
    .main__4 {
        background-color: brown;
    }

}

.fullPage::-webkit-scrollbar {
    display: none;
}
